


<body >


  
  <div class="receipt" >
    <h1>Order Receipt</h1>
    <div class="order-details">
      <p><strong>Order Number:</strong>#62f3e27d-9c3d-45ea-a635-dbdde8a816e5 </p>
      <p><strong>Date:</strong> 2024-05-19 </p>
    </div>
    <div class="items">
      <h2>Items Purchased</h2>
      <ul>
        <li>
          <span class="item-name">RIPSTOP OVERSHIRT - LIMITED EDITION</span>
          <span class="item-price">RM66.00</span>
        </li>
        <li>
          <span class="item-name">100% WOOL PINSTRIPE SUIT BLAZER</span>
          <span class="item-price">RM71.00</span>
        </li>
        
      </ul>
    </div>
    <div class="totals">
      <p><strong>Subtotal:</strong> RM137.00</p>
      <p><strong>Shipping:</strong> RM0.00</p>
     
      <p><strong>Total:</strong> RM137.00</p>
    </div>
    <div class="payment-details">
      <h2>Payment Information</h2>
      <p><strong>Payment Method:</strong> Paypal</p>
      <p><strong>Transaction Number:</strong> 0cff7743-ae01-4fa1-8256-2ec1fd8695d9</p>
     
    </div>
  </div>
</body>