<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h3>Your Orders</h3>

            <div *ngIf="orderHistoryList.length > 0">
                <table class="my-table">
                    <tr>
                        <th width="20%">Order Tracking Number</th>
                        <th width="5%">Total Price</th>
                        <th width="2%">Quantity</th>
                        <th width="5%">Status</th>
                        <th width="12%">Date</th>
                        <th width="20%">Transaction Number</th>
                        <th width="8%">Action</th>
                    </tr>
                    <tr *ngFor="let tempOrderHistory of orderHistoryList">
                            <td>
                                {{tempOrderHistory.orderTrackingNumber}}
                            </td>
                            <td>
                                {{tempOrderHistory.totalPrice | currency: 'RM' }}
                            </td>
                            <td>
                                {{tempOrderHistory.totalQuantity}}
                            </td>
                            <td>
                                {{tempOrderHistory.status}}
                            </td>
                            <td>
                                {{tempOrderHistory.dateCreated | date: 'medium'}}
                            </td>
                            <td>
                                {{tempOrderHistory.transactionNumber}}
                            </td>
                            <td>
                                <div class="button-container">
                                <button class="my-button1" mat-raised-button routerLink="/updatestatus/" color="green">Manage</button>
                            
                                </div>
                            </td>
                    </tr>
                </table>
            </div>
            <!-- if order history is empty then display a message -->
            <div *ngIf="orderHistoryList.length == 0" class="alert alert-warning col-md-12" role="alert">
                No order found. 
            </div>
        </div>
    </div>
</div>